@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  margin: 0;
  background-color: #121212;
  padding: 0;
}

/* IMDb-like loading spinner */
.MuiCircularProgress-root {
  color: #f5c518 !important;
}

/* IMDb-style alerts */
.MuiAlert-standardError {
  background-color: #3a1d1d !important;
  border: 1px solid #5c2c2c;
}

